:root { 
--deep_purple_A200_79:#79c4cf4; 
--white_A700_b2:#ffffffb2; 
--deep_orange_50:#ffded9; 
--deep_purple_A200_4c:#9c4cf44c; 
--white_A700_33:#ffffff33; 
--black_900:#000000; 
--deep_orange_401:#ff6551; 
--deep_orange_400_7f:#ff65517f; 
--deep_purple_A200:#9c4df4; 
--deep_orange_400:#ff6652; 
--gray_700_99:#5d5a6f99; 
--gray_700:#5d5a6f; 
--gray_900_26:#0a033c26; 
--gray_901:#0a023c; 
--gray_900_66:#0a033c66; 
--indigo_50:#e4e2f4; 
--gray_900:#0a033c; 
--indigo_51:#ebeaf4; 
--bluegray_100:#d9d9d9; 
--deep_orange_400_33:#ff665233; 
--black_900_0c:#0000000c; 
--gray_300:#dedde4; 
--blue_50:#d9e6ff; 
--gray_100:#f7f4f9; 
--deep_purple_50:#eeebf4; 
--bluegray_800:#3e4756; 
--black_900_cc:#000000cc; 
--black_900_33:#00000033; 
--gray_900_7f:#0a033c7f; 
--deep_purple_51:#ede8f2; 
--deep_purple_52:#efebf5; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}